doctype html
html(lang='en')
  head
    title ansible
    script
      :coffeescript
        {version} = require './package'
        $ = require 'jquery'
        $ ->
          if window.location.href != "http://toastball.net/games/ansible/"
            $('.upgrade').show()
          $('.credits a').attr 'target', '_blank'
          $('a[href="#back"]').click ->
            window.history.back()
            false
          seq = 0
          hashchange = ->
            $.ajax {
              url: 'http://toastball.net/games/ansible/version'
              crossDomain: true
              dataType: 'jsonp'
              success: (response) ->
                if not response?.version then return
                $('.upgrade').toggle response.version is version
              data:
                s: seq++
                u: window.location.href
                v: version
            }
            true
          hashchange()
          $(window).on 'hashchange', hashchange
        {src} = require './game'
        {play} = require 'imbroglio'
        play.start src
    style
      :stylus
        @font-face
          font-family "Exo 2"
          src url(fonts/Exo2-Regular.woff)
        @font-face
          font-family "Exo 2"
          font-weight bold
          src url(fonts/Exo2-Bold.woff)
        body
          font-family "Exo 2", sans-serif
          margin 0
          padding 0
          line-height 1.5
          color black
          background-color white
        p, ul
          padding 0.5em
          margin 0 auto
          max-width 40em
        .credits
          padding 0.5em
          margin 0 auto
          display table
          table-layout fixed
        .credit
          display table-row
        .what, .whos
          display table-cell
          width 50%
        .what
          text-align right
          padding-right 0.5em
        .whos
          padding-left 0.5em
          vertical-align bottom
        iframe
          display block
          padding 0.5em 0
          margin 0 auto
          border none
        .logo-container
          margin 0 auto
          max-width 50em
          padding 1em 0.5em
          padding-left 4em
          text-indent -2em
          line-height 1
        .credit-container
          margin 0
          padding 0.5em
          text-align center
        .logo
          font-size 300%
          font-weight bold
        .light
          color #bbb
        .passage, .menu
          background-color #ddd
          &.current
            background-color white
        .chosen, .current, a[href]:hover
          background-color white
          border-radius 0.2em
          box-shadow 0 0 0.3em 0.3em white
        #game
          margin-bottom 1em
        a[href]
          text-decoration none
          color #00c
          &:hover
            color #00f
        .code
          font-weight bold
        .error
          color black
          background-color red

        body
          font-size 20px
        iframe
          width 853px
          height 480px
        @media all and (max-width: 852px)
          body
            font-size 16px
          iframe
            width 560px
            height 315px
        @media all and (max-height: 479px)
          body
            font-size 16px
          iframe
            width 560px
            height 315px
        @media all and (min-width: 1280px) and (min-height: 720px)
          body
            font-size 28px
          iframe
            width 1280px
            height 720px
  body
    #loading
      .menu
        :markdown
          [home](#)
      .current
        :markdown
          **@@@ LOADING @@@**
    #home.pane(style="display: none;")
      .menu
        .logo-container
          .logo
            span.light= '@@@ '
            span.dark ansible
            span.light= ' @@@'
      .current
        :markdown
          version #{package.version}<span class="upgrade" style="display: none;"> /// [check for update](http://toastball.net/games/ansible/)</span>

          [start](#!) /// [credits](#/credits)
          /// [walkthrough](#/walkthrough)
    #404-pane.pane(style="display: none;")
      .menu
        :markdown
          [back](#back) /// [home](#)
      .current
        :markdown
          **@@@ PAGE NOT FOUND @@@**
    #game(style="display: none;")
      .menu
        :markdown
          [quit](#)
      #output
    #credits-pane.pane(style="display: none;")
      .menu
        .credit-container
          :markdown
            [back](#back) /// [home](#)
      .current
        .credit-container
          .logo
            span.light= '@@@ '
            span.dark ansible
            span.light= ' @@@'
        .credits
          .credit
            .what written by
            .whos
              .who Jacques Frechet
          .credit
            .what with help from beta testers
            .whos
              .who
                a(href='http://ifdb.tads.org/showuser?id=xndjc4p6o60zunaa') Joshua Houk
              .who
                a(href='https://twitter.com/calariene') J. Marie
              .who Anonymous and
              .who
                ='the '
                a(href='http://www.meetup.com/sf-bay-area-interactive-fiction/') SF Bay Area Interactive Fiction Group
          .credit
            .what for
            .whos
              .who
                a(href='http://ifwiki.org/index.php/ShuffleComp:_Disc_2') ShuffleComp: Disc 2
          .credit
            .what using
            .whos
              .who
                a(href='http://coffeescript.org/') CoffeeScript
              .who
                a(href='https://nodejs.org/') Node.js
              .who
                a(href='http://browserify.org/') Browserify
              .who
                a(href='http://jade-lang.com/') Jade
              .who
                a(href='https://learnboost.github.io/stylus/') Stylus
                =' and'
              .who
                a(href='https://jquery.com/') jQuery
          .credit
            .what and the font
            .whos
              .who
                a(href='http://www.google.com/fonts/specimen/Exo+2') Exo 2
          .credit
            .what by
            .whos
              .who
                a(href='http://ndiscovered.com/') Natanael Gama
          .credit
            .what
              ='inspired by the '
              a(href='https://www.youtube.com/watch?v=7YAcMgoSpDE') song
              =' suggested by'
            .whos
              .who Kat Davis
          .credit
            .what and created and performed by
            .whos
              .who
                a(href='http://ptxofficial.com/') Pentatonix
          .credit
            .what which is a cover/mash-up of the songs
            .whos
              .who
                a(href='https://www.youtube.com/watch?v=BXpdmKELE1k') Save the World
                =' and'
              .who 
                a(href='https://www.youtube.com/watch?v=1y6smkh6c-0') Don't You Worry Child
          .credit
            .what originally written and performed by
            .whos
              .who
                a(href='http://en.wikipedia.org/wiki/Swedish_House_Mafia') Swedish House Mafia
          .credit
            .what some of whose lyrics brought to mind
            .whos
              .who
                a(href='http://www.bookiejar.com/Content/Books/7ccbe2a1-12a9-41fa-a3ff-0f8ebaf40ef6/2339_r1/37381/www.gutenberg.org@files@37381@37381-h@37381-h-4.htm.html#pgepubid00026') The King of the Golden Mountain
          .credit
            .what as collected and published by
            .whos
              .who
                a(href='http://en.wikipedia.org/wiki/Grimms%27_Fairy_Tales') The Brothers Grimm
          .credit
            .what
              ='the term '
              a(href='http://en.wikipedia.org/wiki/Ansible') &ldquo;ansible&rdquo;
              =' was coined by'
            .whos
              .who
                a(href='http://www.ursulakleguin.com/') Ursula K. Le Guin
        iframe(src="https://www.youtube.com/embed/7YAcMgoSpDE?rel=0" allowfullscreen)
        .credit-container
          :markdown
            [back](#back) /// [home](#)
    #walkthrough-pane.pane(style="display: none;")
      .menu
        :markdown
          [back](#back) /// [home](#)

      .current
        :markdown
          Oh, uh, first off, in case I don't get to this elsewhere:
          If you're not playing the most recent version of the game,
          hosted at <http://toastball.net/games/ansible/>, you might
          want to head over there now.

          Also, if you need to get in touch with me, you can do so
          at <zaphod@toastball.net>.  Three things which are often
          extremely helpful to include in bug reports or other
          comments are **links** to whichever bit of the game you
          want to refer to (full URL is fine, or you can cut off
          everything before the # if you prefer); the **version
          number**, which can be found on the [front page](#); and
          how you want **your name** to appear on the [credits](#/credits)
          page.

          My name is Jacques Frechet, by the way.  Hi!  I'm not
          using a pseudonym.

          This page contains spoilers!  It's an explanation of how
          to reach the various endings in the game, for the benefit
          of my poor beta-testers.  Maybe for the benefit of everyone.
          We'll see.

          Obviously (?) there are a lot of &ldquo;endings&rdquo;
          with a **@@@ CONNECTION LOST @@@** message, but my (naive?)
          hope is that the player will figure out that all of the
          choices they've been offered so far remain active, so
          they can go back and try something else.  So, at least
          from the player's perspective, those aren't meant to be
          endings at all.  You can tell when you get to a
          &ldquo;real&rdquo; ending because it dumps you back out
          on the [credits](#/credits) page.

          So I mean, assuming the player is able to figure out the
          control scheme at all (which remains an open question, I
          suppose), in principle it's just a matter of lawnmowering
          all the choices, right?  So ideally, if the writing were
          strong enough to keep the player interested, there'd be
          no need for a walkthrough.  So maybe I can ditch this
          whole thing in the released version?

          In the meantime, though, since testing has not yet firmly
          established that no walkthrough is necessary, let's get
          started, shall we?  I've foolishly included some links,
          which seem likely to break as I tinker with the game, so
          I apologize in advance for that.  (But please do remind
          me to fix them!)

          Intro: [Yes](#!a), [no](#!ab).  These are not trick
          questions.

          Now we can do the card trick.  From the top: Yes,
          [yes](#!aa), trumps, eleven, [sixteen](#!aaebf), yes,
          [yes](#!aaebfaa).

          The player is meant to explore various dead ends from
          this point.  One example: [water](#!aaebfaaa), no good,
          crossroads, north, home, yes, [north](#!aaebfaaabbaaaa).

          The campfire: [ring](#!aaebfaab), no, not, [no](#!aaebfaabbbb).

          A clue: Check it out, closer, [lay low](#!aaebfaabbbbaab).

          Another clue: [pretend](#!aaebfaabbbbaaa), what, no,
          [wow](#!aaebfaabbbbaaaaba).

          Ending(-ish): [do it](#!aaebfaabbbbaaaaa), listen,
          questions, [sword](#!aaebfaabbbbaaaaaaac),
          [yes](#!aaebfaabbbbaaaaaaaca).

          Endier: [do it](#!aaebfaabbbbaaaaa), listen,
          [suggest](#!aaebfaabbbbaaaaaab), Uda, no,
          [yes](#!aaebfaabbbbaaaaaabbba).  From this point there
          is only one real choice, leading to two different endings.

          There are a few more bits that might be worth pointing
          out, such as the ones where you ask to see the boots and
          end up agreeing to let one of the giants hold on to your
          ring.

          Change log:

          * v0.2.1: fixed walkthrough links and sword ending
          * v0.2.2: made "you're sure you're not messing with me?" choices less obtuse; created to-do list
          * v0.2.3: tweaked scrolling so that the most recent choice now remains visible even when the next passage is long; credited some testers; recorded more to-do items
          * v0.2.4: left/east clues; various dialog tweaks; more credits
          * v0.3.0: clarified early goals; "Fuck!"

          To-do list:

          * Revise this page (and the front-page link to it?) for the released version of the game; maybe separate notes and walkthrough?
          * Surely I can invent excuses to break up long passages more?
          * More concrete details?
          * Clearer dialog, e.g. after choosing mantle?
          * "I know" -- vestigial, rework?
          * Maybe name original ring in section(s) mentioning "angel," to help differentiate it from the wishing one?
          * Do something more upon "winning," maybe enumerate/differentiate, also want to make sure people are able to keep going

          [back](#back) /// [home](#)
