doctype html
html(lang='en')
  head
    title ansible
    script
      :coffeescript
        {version} = require './package'
        $ = require 'jquery'
        $ ->
          if window.location.href != "http://toastball.net/games/ansible/"
            $('.upgrade').show()
          $('.credits a').attr 'target', '_blank'
          $('a[href="#back"]').click ->
            window.history.back()
            false
          seq = 0
          hashchange = ->
            $.ajax {
              url: 'http://toastball.net/games/ansible/version'
              crossDomain: true
              dataType: 'jsonp'
              success: (response) ->
                if not response?.version then return
                $('.upgrade').toggle response.version is version
              data:
                s: seq++
                u: window.location.href
                v: version
            }
            true
          hashchange()
          $(window).on 'hashchange', hashchange
        {src} = require './game'
        {play} = require 'imbroglio'
        play.start src
    style
      :stylus
        @font-face
          font-family "Exo 2"
          src url(fonts/Exo2-Regular.woff)
        @font-face
          font-family "Exo 2"
          font-weight bold
          src url(fonts/Exo2-Bold.woff)
        body
          font-family "Exo 2", sans-serif
          margin 0
          padding 0
          line-height 1.5
          color black
          background-color white
        p, ul
          padding 0.5em
          margin 0 auto
          max-width 40em
        .credits
          padding 0.5em
          margin 0 auto
          display table
          table-layout fixed
        .credit
          display table-row
        .what, .whos
          display table-cell
          width 50%
        .what
          text-align right
          padding-right 0.5em
        .whos
          padding-left 0.5em
          vertical-align bottom
        iframe
          display block
          padding 0.5em 0
          margin 0 auto
          border none
        .logo-container
          margin 0 auto
          max-width 50em
          padding 1em 0.5em
          padding-left 4em
          text-indent -2em
          line-height 1
        .credit-container
          margin 0
          padding 0.5em
          text-align center
        .logo
          font-size 300%
          font-weight bold
        .light
          color #bbb
        .passage, .menu
          background-color #ddd
          &.current
            background-color white
        .chosen, .current, a[href]:hover
          background-color white
          border-radius 0.2em
          box-shadow 0 0 0.3em 0.3em white
        #game
          margin-bottom 1em
        a[href]
          text-decoration none
          color #00c
          &:hover
            color #00f
        .code
          font-weight bold
        .error
          color black
          background-color red

        body
          font-size 20px
        iframe
          width 853px
          height 480px
        @media all and (max-width: 852px)
          body
            font-size 16px
          iframe
            width 560px
            height 315px
        @media all and (max-height: 479px)
          body
            font-size 16px
          iframe
            width 560px
            height 315px
        @media all and (min-width: 1280px) and (min-height: 720px)
          body
            font-size 28px
          iframe
            width 1280px
            height 720px
  body
    #loading
      .menu
        :markdown
          [home](#)
      .current
        :markdown
          **@@@ LOADING @@@**
    #home.pane(style="display: none;")
      .menu
        .logo-container
          .logo
            span.light= '@@@ '
            span.dark ansible
            span.light= ' @@@'
      .current
        :markdown
          version #{package.version}<span class="upgrade" style="display: none;"> /// [check for update](http://toastball.net/games/ansible/)</span>

          [start](#!) /// [credits](#/credits) /// [notes](#/notes)
    #404-pane.pane(style="display: none;")
      .menu
        :markdown
          [back](#back) /// [home](#)
      .current
        :markdown
          **@@@ PAGE NOT FOUND @@@**
    #game(style="display: none;")
      .menu
        :markdown
          [quit](#)
      #output
    mixin credits(n)
      .pane(id="credits"+n+"-pane" style="display: none;")
        .menu
          .credit-container
            if block
              block
              :markdown
                [keep playing](#back) /// [quit](#)
            else
              :markdown
                [home](#)
        .current
          .credit-container
            .logo
              span.light= '@@@ '
              span.dark ansible
              span.light= ' @@@'
          .credits
            .credit
              .what written by
              .whos
                .who Jacques Frechet
            .credit
              .what with help from beta testers
              .whos
                .who
                  a(href='http://ifdb.tads.org/showuser?id=xndjc4p6o60zunaa') Joshua Houk
                .who
                  a(href='https://twitter.com/calariene') J. Marie
                .who Nick Taylor
                .who Anonymous and
                .who
                  ='the '
                  a(href='http://www.meetup.com/sf-bay-area-interactive-fiction/') SF Bay Area Interactive Fiction Group
            .credit
              .what for
              .whos
                .who
                  a(href='http://ifwiki.org/index.php/ShuffleComp:_Disc_2') ShuffleComp: Disc 2
            .credit
              .what using
              .whos
                .who
                  a(href='http://coffeescript.org/') CoffeeScript
                .who
                  a(href='https://nodejs.org/') Node.js
                .who
                  a(href='http://browserify.org/') Browserify
                .who
                  a(href='http://jade-lang.com/') Jade
                .who
                  a(href='https://learnboost.github.io/stylus/') Stylus
                  =' and'
                .who
                  a(href='https://jquery.com/') jQuery
            .credit
              .what and the font
              .whos
                .who
                  a(href='http://www.google.com/fonts/specimen/Exo+2') Exo 2
            .credit
              .what by
              .whos
                .who
                  a(href='http://ndiscovered.com/') Natanael Gama
            .credit
              .what
                ='inspired by the '
                a(href='https://www.youtube.com/watch?v=7YAcMgoSpDE') song
                =' suggested by'
              .whos
                .who Kat Davis
            .credit
              .what and created and performed by
              .whos
                .who
                  a(href='http://ptxofficial.com/') Pentatonix
            .credit
              .what which is a cover/mash-up of the songs
              .whos
                .who
                  a(href='https://www.youtube.com/watch?v=BXpdmKELE1k') Save the World
                  =' and'
                .who
                  a(href='https://www.youtube.com/watch?v=1y6smkh6c-0') Don't You Worry Child
            .credit
              .what originally written and performed by
              .whos
                .who
                  a(href='http://en.wikipedia.org/wiki/Swedish_House_Mafia') Swedish House Mafia
            .credit
              .what some of whose lyrics brought to mind
              .whos
                .who
                  a(href='http://www.bookiejar.com/Content/Books/7ccbe2a1-12a9-41fa-a3ff-0f8ebaf40ef6/2339_r1/37381/www.gutenberg.org@files@37381@37381-h@37381-h-4.htm.html#pgepubid00026') The King of the Golden Mountain
            .credit
              .what as collected and published by
              .whos
                .who
                  a(href='http://en.wikipedia.org/wiki/Grimms%27_Fairy_Tales') The Brothers Grimm
            .credit
              .what
                ='the term '
                a(href='http://en.wikipedia.org/wiki/Ansible') &ldquo;ansible&rdquo;
                =' was coined by'
              .whos
                .who
                  a(href='http://www.ursulakleguin.com/') Ursula K. Le Guin
          iframe(src="https://www.youtube.com/embed/7YAcMgoSpDE?rel=0" allowfullscreen)
          .credit-container
            if block
              :markdown
                [keep playing](#back) /// [quit](#)
            else
              :markdown
                [home](#)
    +credits('')
    +credits('1')
      :markdown
        You have reached one of three possible endings.
    +credits('2')
      :markdown
        You have reached one of three possible endings.
    +credits('3')
      :markdown
        **Congratulations &mdash; you have saved the world!**

        This is one of three possible endings.
    #notes-pane.pane(style="display: none;")
      .menu
        :markdown
          [back](#back) /// [home](#)

      .current
        :markdown
          Hi!  My name is Jacques Frechet.  Thanks for playing my
          game!  If you have any comments or questions or if something
          isn't working right, you can get in touch with me at
          <zaphod@toastball.net>.

          This isn't a super-long game, but if you do need to undo
          or save or restore, your browser's back and forward buttons
          and bookmarks and so on should all work as expected.  To
          play offline, save this web page to disk as an .html file;
          in some browsers, leaving the game open in a tab may also
          work.

          The story has three&hellip; hmm, how should I put this?
          &ldquo;Winning endings?&rdquo;  Sure, why not.  I might
          add or link to a few story and/or process notes here
          later, depending.  In the meantime, the [[credits](#/credits)
          mention some source material.

          Thanks again to everyone who helped make this game possible!

          [back](#back) /// [home](#)
